{% extends 'auth_base.html' %}
{% block title %}Log in{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/authstatic/css/signin.css"/>
    <style>
        div#captcha {
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}

    <form action="" class="form-signin" method="post">
        {% csrf_token %}
        <h3 class="form-signin-heading text-center">Please log in</h3>

        <input id="id_username" name="username" type="text" class="form-control" placeholder="email/phonenumber"
               autofocus>

        <input id="id_password" name="password" type="password" class="form-control" placeholder="Password"
               autofocus>

        <input name="captcha" type="text" class="form-control" placeholder="Captcha">

        </br>

        <div id="captcha">
            <img src="/captcha/captcha.jpg" alt="captcha"/>
        </div>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>


    </form>

{% endblock %}
