<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>DOUBAN</title>
    <link rel="shortcut icon" href="/doubanstatic/images/favicon.png"/>
    <link rel="stylesheet" href="/doubanstatic/css/stylesheets/style.css">
    <meta name="description" content="一个博客和他所倡导的生活"/>
    <meta name="author" content="zjhsdtc[AT]gmail.com"/>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script src="/doubanstatic/js/jquery-1.10.2.min.js"></script>
</head>
<body>

<div id="background">
    <a href="https://github.com/you"><img
            style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;"
            src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-green@2x.png"
            alt="Fork me on GitHub"></a>

</div>
<div id="player">
    <div class="cover"></div>
    <div class="ctrl">
        <div class="tag">
            <strong>Title</strong>
            <span class="artist">Artist</span>
            <span class="album">Album</span>
        </div>
        <div class="control">
            <div class="left">
                <div class="rewind icon"></div>
                <div class="playback icon"></div>
                <div class="fastforward icon"></div>
            </div>
            <div class="volume right">
                <div class="mute icon left"></div>
                <div class="slider left">
                    <div class="pace"></div>
                </div>
            </div>
        </div>
        <div class="progress">
            <div class="slider">
                <div class="loaded"></div>
                <div class="pace"></div>
            </div>
            <div class="timer left">0:00</div>
            <div class="right">
                <div class="repeat icon"></div>
                <div class="shuffle icon"></div>
            </div>
        </div>
    </div>
</div>
<ul id="playlist"></ul>
<footer>
    <p>CC BY 3.0 CN <a href="http://lunax.info">lunax.info</a></p>

    <p>donate <a href="http://lunax.info/About/donate.htm">here</a></p>

    <p><a href="http://lunax.info/About/">About 关于</a> <a href="http://lunax.info/music/">月光电台</a></p>
</footer>
<script src="/doubanstatic/js/jquery-ui-1.8.17.custom.min.js"></script>
<script src="/doubanstatic/js/script.js"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=23404329" charset="UTF-8"></script>
</body>
</html>