div#background {
    background: url(../img/background.jpg);
    /*background-size: cover;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}